@tailwind base; 
@tailwind components; 
@tailwind utilities;
@theme{
--color-aliceblue: oklch(97.5% 0.013 244.251);
--color-antiquewhite: oklch(94.7% 0.031 75.219);
--color-aqua: oklch(90.5% 0.155 194.769);
--color-aquamarine: oklch(91.5% 0.130 168.992);
--color-azure: oklch(98.9% 0.016 196.902);
--color-beige: oklch(96.4% 0.033 106.999);
--color-bisque: oklch(93.3% 0.051 71.849);
--color-blanchedalmond: oklch(94.8% 0.045 78.060);
--color-blueviolet: oklch(53.4% 0.250 301.375);
--color-brown: oklch(48.1% 0.160 25.562);
--color-burlywood: oklch(80.5% 0.078 73.417);
--color-cadetblue: oklch(65.8% 0.065 198.298);
--color-chartreuse: oklch(89.0% 0.265 136.007);
--color-chocolate: oklch(63.4% 0.155 50.266);
--color-coral: oklch(73.5% 0.168 40.247);
--color-cornflowerblue: oklch(67.5% 0.141 261.338);
--color-cornsilk: oklch(97.7% 0.037 95.439);
--color-crimson: oklch(57.1% 0.222 20.087);
--color-darkblue: oklch(30.1% 0.246 264.058);
--color-darkcyan: oklch(58.2% 0.085 196.986);
--color-darkgoldenrod: oklch(57.6% 0.148 71.083);
--color-darkgray: oklch(66.8% 0.007 264.888);
--color-darkgreen: oklch(38.0% 0.115 143.242);
--color-darkgrey: oklch(66.8% 0.007 264.888);
--color-darkkhaki: oklch(74.4% 0.064 100.584);
--color-darkmagenta: oklch(46.8% 0.225 322.478);
--color-darkolivegreen: oklch(45.6% 0.073 114.645);
--color-darkorange: oklch(70.3% 0.189 58.963);
--color-darkorchid: oklch(57.1% 0.208 308.505);
--color-darkred: oklch(40.0% 0.205 25.296);
--color-darksalmon: oklch(73.2% 0.116 45.553);
--color-darkseagreen: oklch(78.3% 0.057 141.799);
--color-darkslateblue: oklch(47.3% 0.110 274.059);
--color-darkslategray: oklch(41.3% 0.057 194.995);
--color-darkslategrey: oklch(41.3% 0.057 194.995);
--color-darkturquoise: oklch(79.8% 0.125 197.409);
--color-darkviolet: oklch(51.5% 0.243 309.098);
--color-deeppink: oklch(64.1% 0.274 15.891);
--color-deepskyblue: oklch(74.5% 0.169 231.128);
--color-dimgray: oklch(56.7% 0.007 264.888);
--color-dimgrey: oklch(56.7% 0.007 264.888);
--color-dodgerblue: oklch(68.8% 0.160 250.573);
--color-firebrick: oklch(50.7% 0.163 27.102);
--color-floralwhite: oklch(98.5% 0.022 83.853);
--color-forestgreen: oklch(47.3% 0.140 142.935);
--color-gainsboro: oklch(91.9% 0.012 264.888);
--color-ghostwhite: oklch(98.7% 0.011 276.049);
--color-gold: oklch(80.5% 0.174 84.353);
--color-goldenrod: oklch(69.4% 0.137 74.089);
--color-greenyellow: oklch(90.2% 0.226 114.529);
--color-honeydew: oklch(98.5% 0.018 160.924);
--color-hotpink: oklch(70.3% 0.235 20.019);
--color-indianred: oklch(63.2% 0.112 25.855);
--color-ivory: oklch(99.1% 0.020 100.000);
--color-khaki: oklch(89.1% 0.072 101.008);
--color-lavender: oklch(94.2% 0.031 283.451);
--color-lavenderblush: oklch(97.6% 0.021 18.493);
--color-lawngreen: oklch(87.2% 0.260 136.247);
--color-lemonchiffon: oklch(96.8% 0.042 97.617);
--color-lightblue: oklch(85.8% 0.065 224.361);
--color-lightcoral: oklch(72.7% 0.118 27.286);
--color-lightcyan: oklch(97.3% 0.030 193.687);
--color-lightgoldenrodyellow: oklch(97.5% 0.033 101.319);
--color-lightgray: oklch(87.9% 0.012 264.888);
--color-lightgreen: oklch(85.5% 0.090 136.364);
--color-lightgrey: oklch(87.9% 0.012 264.888);
--color-lightpink: oklch(90.2% 0.086 23.799);
--color-lightsalmon: oklch(79.5% 0.148 46.016);
--color-lightseagreen: oklch(66.4% 0.106 187.246);
--color-lightskyblue: oklch(79.6% 0.111 236.741);
--color-lightslategray: oklch(63.0% 0.040 248.195);
--color-lightslategrey: oklch(63.0% 0.040 248.195);
--color-lightsteelblue: oklch(84.1% 0.055 246.291);
--color-lightyellow: oklch(98.7% 0.026 103.372);
--color-limegreen: oklch(69.8% 0.160 136.249);
--color-linen: oklch(95.6% 0.027 80.000);
--color-magenta: oklch(63.0% 0.292 328.760);
--color-maroon: oklch(42.5% 0.145 25.563);
--color-mediumaquamarine: oklch(77.3% 0.100 169.088);
--color-mediumblue: oklch(43.2% 0.270 265.207);
--color-mediumorchid: oklch(64.5% 0.200 313.798);
--color-mediumpurple: oklch(67.3% 0.130 283.274);
--color-mediumseagreen: oklch(69.1% 0.116 158.552);
--color-mediumslateblue: oklch(64.5% 0.168 272.495);
--color-mediumspringgreen: oklch(84.1% 0.140 162.667);
--color-mediumturquoise: oklch(77.2% 0.113 197.293);
--color-mediumvioletred: oklch(51.7% 0.226 14.817);
--color-midnightblue: oklch(32.8% 0.144 266.984);
--color-mintcream: oklch(98.9% 0.014 164.547);
--color-mistyrose: oklch(94.1% 0.033 23.582);
--color-moccasin: oklch(93.1% 0.050 77.923);
--color-navajowhite: oklch(92.1% 0.051 78.093);
--color-navy: oklch(30.0% 0.246 264.058);
--color-oldlace: oklch(96.6% 0.027 85.656);
--color-olive: oklch(53.2% 0.115 103.702);
--color-olivedrab: oklch(55.8% 0.117 112.776);
--color-orange: oklch(74.3% 0.199 64.267);
--color-orangered: oklch(60.2% 0.215 34.357);
--color-orchid: oklch(70.5% 0.174 318.471);
--color-palegoldenrod: oklch(90.6% 0.053 99.795);
--color-palegreen: oklch(89.4% 0.115 133.615);
--color-paleturquoise: oklch(88.9% 0.067 191.216);
--color-palevioletred: oklch(66.5% 0.162 12.614);
--color-papayawhip: oklch(96.1% 0.040 80.536);
--color-peachpuff: oklch(92.4% 0.049 69.089);
--color-peru: oklch(63.6% 0.125 61.706);
--color-plum: oklch(82.8% 0.090 321.053);
--color-powderblue: oklch(86.9% 0.063 213.589);
--color-purple: oklch(45.2% 0.250 301.375);
--color-rebeccapurple: oklch(47.0% 0.179 282.956);
--color-rosybrown: oklch(70.0% 0.062 25.563);
--color-royalblue: oklch(62.9% 0.155 254.061);
--color-saddlebrown: oklch(43.5% 0.150 43.928);
--color-salmon: oklch(74.9% 0.135 45.553);
--color-sandybrown: oklch(76.8% 0.134 65.919);
--color-seagreen: oklch(54.6% 0.102 163.794);
--color-seashell: oklch(97.3% 0.022 79.903);
--color-sienna: oklch(52.3% 0.136 39.365);
--color-silver: oklch(78.8% 0.012 264.888);
--color-skyblue: oklch(80.5% 0.107 234.367);
--color-slateblue: oklch(59.4% 0.155 274.105);
--color-slategray: oklch(64.2% 0.038 246.291);
--color-slategrey: oklch(64.2% 0.038 246.291);
--color-snow: oklch(99.1% 0.013 15.252);
--color-springgreen: oklch(85.5% 0.160 152.948);
--color-steelblue: oklch(64.0% 0.105 248.297);
--color-tan: oklch(79.4% 0.076 69.663);
--color-teal: oklch(50.4% 0.085 196.986);
--color-thistle: oklch(83.6% 0.075 324.600);
--color-tomato: oklch(67.5% 0.175 35.702);
--color-turquoise: oklch(81.6% 0.122 182.507);
--color-wheat: oklch(89.7% 0.060 80.821);
--color-white: oklch(100% 0.000 0.000);
--color-whitesmoke: oklch(96.7% 0.008 264.888);
--color-yellowgreen: oklch(80.8% 0.180 116.644);

}